alias be='bundle exec'
alias gst='git status'
alias bi='bundle install'
alias ssh-vmubuntu='ssh 127.0.0.1 -p 2200 -L 3000:127.0.0.1:3000 -R 2489:127.0.0.1:2489'
alias ssh-ubuntu-server='ssh ubuntu-server -p 2200 -L 3000:127.0.0.1:3000 -R 2489:127.0.0.1:2489'
alias ssh-ubuntu-home='ssh ubuntu-home -p 2200 -L 3000:127.0.0.1:3000 -R 2489:127.0.0.1:2489'

gam() { "/Users/nik/bin/gam/gam" "$@" ; }

function gam() { "/Users/nik/bin/gam/gam" "$@" ; }
